.container {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    //responsive
    @include tablet-responsive() {
        border-radius: 2rem;
        box-shadow: 0 0.5rem 1rem 0 $paleBlue;
    }
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 18.75rem;

    //responsive
    @include tablet-responsive() {
        flex-direction: row;
        align-items: stretch;
        max-width: 38rem;
    }
}


//result section
.result {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, $lightSlateBlue-bg, $lightRoyalBlue-bg);
    border-radius: 0 0 2rem 2rem;
    width: 100%;

    &__title {
        color: $lightLavender;
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    &__describe {
        color: $white;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }

    &__caption {
        color: $lightLavender;
        font-size: 0.95rem;
        margin: 1rem 3rem 2.5rem 3rem;
        line-height: 1.5;
        opacity: 0.8;
    }

    //responsive
    @include tablet-responsive() {
        border-radius: 2rem;
        z-index: 1;
        margin-right: -1.5rem;
    }
}

.result__score {

    background-image: radial-gradient(circle at top, $violetBlue, $persianBlue);
    padding: 1.5rem 2.5rem;
    border-radius: 50%;
    margin: 1rem 0;

    p {
        font-size: 3rem;
        color: $white;
        margin-bottom: 0.3rem;
    }

    span {
        font-size: 1rem;
        color: $lightLavender;
        opacity: 0.6;
    }

}


//summary section
.summary {

    padding: 1.5rem;
    width: 100%;
    background-color: $white;

    &__title {
        font-size: 1.2rem;
        color: $darkGrayBlue;
        margin-bottom: 1.5rem;
    }

    //responsive
    @include tablet-responsive() {
        border-radius: 0 2rem 2rem 0;
        padding: 2rem 2rem 2rem 3.5rem;
    }
}

.summary__attribute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $paleBlue;
    border-radius: 0.7rem;
    padding: 1rem;
    margin-bottom: 1rem;
    opacity: 0.7;
}

.summary__att-name {

    display: flex;
    align-items: center;

    p {
        margin-left: 0.7rem;
    }
}

.summary__score {

    display: flex;
    align-items: center;

    p {
        margin-right: 0.3rem;
        opacity: 0.9;
    }

    span {
        color: $darkGrayBlue;
        opacity: 0.5;
    }
}

//define text color for every attribute
.summary__att-name--reaction {
    p {
        color: $lightRed;
    }
}

.summary__att-name--memory {
    p {
        color: $orangeyYellow;
    }
}

.summary__att-name--verbal {
    p {
        color: $greenTeal;
    }
}

.summary__att-name--visual {
    p {
        color: $cobaltBlue;
    }
}

.summary__btn {

    width: 100%;
    text-align: center;
    background-color: $darkGrayBlue;
    color: $white;
    border-radius: 2rem;
    padding: 1.2rem 1rem;
    border: none;
    outline: none;
    transition: all 0.3s ease-in;



    //responsive
    @include tablet-responsive() {
        padding: 1rem;
    }

    @include desktop-responsive() {
        cursor: pointer;

        &:hover {
            background-image: linear-gradient(to bottom, $lightSlateBlue-bg, $lightRoyalBlue-bg);
        }
    }
}