//medium styles
.font-medium {
    font-family: "HankenGrotesk";
    font-weight: 500;
}



//bold styles
.font-bold {
    font-family: "HankenGrotesk";
    font-weight: 700;
}



//extra bold styles
.font-ex-bold {
    font-family: "HankenGrotesk";
    font-weight: 800;
}
